<div class="container dad">
  <div class="son-1"></div>
  <p class="son-text">
    <span class="son-span">Explore the world
      <i class="fa fa-bicycle" aria-hidden="true"></i>
      By Bike</span>
  </p>
</div>

<section>
  <h2>Giant</h2>
  <div class="container-fluid">
    <% if  @products.present? %>
    <% @products.order('created_at DESC').each do |product| %>
    <% if  true == product.categories.eql?("Giant")%>
    <div class="col-xs-6 col-md-3">
      <div id="item">
        <%= link_to product_path(product) do %>
        <% if product.image.present? %>
        <%= image_tag(product.image.thumb.url, size: "200x200")%>
      <% else %>
        <%=image_tag("http://placehold.it/200x200&text=No Pic", class:"thumbnail") %>
        <% end %>
        <% end %>
        <br><br>
        <%= product.title %>
        <br>
        ￥<%= product.price %>
      </div>
    </div>
    <% end %>
    <% end %>
    <% end %>
  </div>
</section>

<section>
  <h2>Trek</h2>
  <div class="container-fluid">
    <% if  @products.present? %>
    <% @products.order('created_at DESC').each do |product| %>
    <% if  true == product.categories.eql?("Trek")%>
    <div class="col-xs-6 col-md-3">
      <div id="item">
        <%= link_to product_path(product) do %>
        <% if product.image.present? %>
        <%= image_tag(product.image.thumb.url, size: "200x200")%>
      <% else %>
        <%=image_tag("http://placehold.it/200x200&text=No Pic", class:"thumbnail") %>
        <% end %>
        <% end %>
        <br><br>
        <%= product.title %>
        <br>
        ￥<%= product.price %>
      </div>
    </div>
    <% end %>
    <% end %>
    <% end %>
  </div>
</section>
